.card {
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.card > * {
  margin: 0;
  padding: 0;
}

.card .title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.card .desc {
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
}

.card img {
  width: 70%;
  transform: scale(1.2);
  margin: 0 auto;
  /* background-color: yellow; */
}
